<a href="https://colab.research.google.com/github/gizattos/Trabalho-Dados-Abertos-Desempenho-Escolar/blob/master/trabalho01_Giovanni_Riccardi_Lourenzatto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabalho 1

___

O trabalho abaixo deverá ser feito individualmente e entregue até o dia 15/04/2020. A resolução dos exercícios deverá ser feita utilizando os conhecimentos passados em sala sobre python e seus pacotes. Esse trabalho equivale a 40% da nota final da matéria. No dia da entrega três pessoas serão escolhidas aleatoriamente para apresentar seus resultados. O trabalho pode ser feito tanto na máquina do aluno quanto no google colab.

# Dados

___

O dataset utilizado neste trabalho descreve o desempenho escolar dos alunos da Secretaria de Educação do Distrito Federal para o ano letivo de 2017. Ou seja, ele mostra as notas dos alunos em cada matéria e em cada bimestre de todas as escolas da rede pública do Distrito Federal.

Esses dados são públicos e podem ser baixados utilizando esse [link](http://dados.df.gov.br/dataset/b8436049-44e7-4224-95b4-224718a4b166/resource/3e654a9d-0647-4e39-930e-7cd07faec888/download/dados-abertos---desempenho-escolar20180515160111.zip). Esse link faz o download de um arquivo .zip de aproximadamente 95 mega e dentro dele está o CSV que usaremos. A função 'get_data()' abaixo foi criada para auxiliar, ela faz o download automaticamente do arquivo (na pasta onde o jupyter notebook foi criado), descomprime o arquivo CSV e o usa para criar um dataframe pandas.

In [2]:
import pandas as pd
import zipfile
import warnings

warnings.filterwarnings('ignore')

def get_data():
    
    '''
    Essa função serve para fazer o download, descomprimir e criar o dataframe para execução do trabalho!
    
    *** RECOMENDO QUE ESSA FUNÇÃO SEJA UTILIZADA SÓ UMA VEZ ***
    
    Essa função já retorna um dataframe pandas, recomendo que você já o guarde em uma variável!
    
    Caso o seu computador estejá devegar, essa função também vai funcionar normalmente no google colab!
    
    '''
    
    !wget http://dados.df.gov.br/dataset/b8436049-44e7-4224-95b4-224718a4b166/resource/3e654a9d-0647-4e39-930e-7cd07faec888/download/dados-abertos---desempenho-escolar20180515160111.zip

    with zipfile.ZipFile('dados-abertos---desempenho-escolar20180515160111.zip', 'r') as zip_ref:
        zip_ref.extractall()

    return pd.read_csv('dados abertos - desempenho escolar_20180515_160111.csv',sep=';',encoding='iso-8859-1')

df = get_data()

--2020-03-27 00:18:53--  http://dados.df.gov.br/dataset/b8436049-44e7-4224-95b4-224718a4b166/resource/3e654a9d-0647-4e39-930e-7cd07faec888/download/dados-abertos---desempenho-escolar20180515160111.zip
Resolving dados.df.gov.br (dados.df.gov.br)... 131.72.222.17
Connecting to dados.df.gov.br (dados.df.gov.br)|131.72.222.17|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 99777290 (95M) [application/zip]
Saving to: ‘dados-abertos---desempenho-escolar20180515160111.zip.1’

dados-abertos---des 100%[===================>]  95.15M  10.8MB/s    in 11s

2020-03-27 00:19:05 (8.57 MB/s) - ‘dados-abertos---desempenho-escolar20180515160111.zip.1’ saved [99777290/99777290]

# Questões

___

1. Quantas linhas e colunas o dataset tem?
2. Qual o nome das colunas?
3. Qual turno de aula tem alunos com notas finais maiores? (Demonstre o seu resultado utilizando somente a nota final de cada matéria).
4. Quantos alunos diferentes o dataset possui?
5. Quantas escolas diferentes o dataset possui?
6. Demonstre a distribuição de alunos por série.
7. Demonstre a distribuição de escolas por coordenação regional.
8. Qual é a matéria que os alunos do ensino médio ('1ª Série', '2ª Série','3ª Série') tiram, em média, a menor nota final?
9. Qual é a coordenação regional com o maior número de notas máximas em matemática no último ano do ensino médio ('3ª Série')?
10. Quantos valores nulos o dataset possui em cada coluna?
11. Qual a distribuição de alunos por curso?
12. Os alunos que estudam na primeira série do ensino médio em escolas sobre a responsabilidade da CRE - Plano Piloto tem uma nota final de português melhor do que os alunos de outras CRE para mesma faixa e matéria. Verdadeiro ou Falso? (Para essa questão considere somente duas grandes classes, ser ou não ser da CRE - Plano Piloto).
13. Levando em consideração que para ser considerado aprovado o aluno deve tirar uma nota final maior do que 5, qual matéria do ensino médio reprova mais?
14. Crie um dataframe onde:

- Cada linha seja um aluno (sem repetições) e somente alunos do terceiro ano;
- Cada coluna seja uma matéria da lista [matemática, português, física, química, biologia, história, geografia];
- Cada valor da coluna será a nota final daquele aluno para aquela matéria.

Exemplo: 

| aluno            | matemática | português | física | química | biologia | história | geografia |
|------------------|------------|-----------|--------|---------|----------|----------|-----------|
| 1254845612542512 | 9.8        | 5.5       | 6.7    | 5.5     | 8.8      | 7.3      | 3.2       |
| 1548451247856985 | 0          | 3.8       | 3.2    | 1.2     | 2.1      | 8.5      | 6.5       |
| 1477782552236587 | 5.5        | 6.5       | 7.5    | 9.5     | 10       | 10       | 10        |

Nomeie esse novo dataframe de new_df e o utilize para resolver as questões abaixo.

15. Existem valores nulos em new_df? Se sim, diga qual é a localização de cada valor nulo (index,column), trate os valores nulos da forma que achar mais adequada e descreva o porque tomou essa decisão.
16. Descreva new_df (principais indicadores estatísticos)
17. Qual a correlação entre as notas de cada matéria? É possível dizer que existe uma correlação forte entre química e física?
18. Demonstre em um só gráfico as notas de química e língua portuguesa de todos os alunos.
19. A distribuição de notas de história é simétrica? Comprove plotando um histograma das notas e também utilizando a função .skew().
20. Plote e interprete um gráfico 'scatter' entre matemática e a média das notas das disciplinas [biologia, química e física].

# Observação

___

Caso encontre alguma inconsistência no dataset, trate-o demonstrando e comentando essa inconsistência.

> Para fins de resolução deste trabalho, todas as notas dos alunos devem estar entre 0 e 10. Notas acima desse dessa faixa correspondem a um modelo de pontuação que varia entre 0 e 100 e devem ser convertidos para a faixa padrão de nota.

<h2>Visualizando e Explorando</h2>

In [46]:
dff = df
dff.head()

   cod_coordenacao_regional  ... faltas_justificadas_globalizadas
0                         3  ...                              NaN
1                         3  ...                              NaN
2                         3  ...                              NaN
3                         3  ...                              NaN
4                         3  ...                              NaN

[5 rows x 23 columns]

In [45]:
dff.describe()
## verificado a existencia de notas acima de 10

       cod_coordenacao_regional  ...  faltas_justificadas_globalizadas
count              1.277908e+07  ...                     787287.000000
mean               8.559932e+00  ...                          0.220142
std                4.136470e+00  ...                          1.346830
min                3.000000e+00  ...                          0.000000
25%                4.000000e+00  ...                          0.000000
50%                9.000000e+00  ...                          0.000000
75%                1.200000e+01  ...                          0.000000
max                1.600000e+01  ...                         55.000000

[8 rows x 15 columns]

In [0]:
## tratando notas acima de 10, dividindo as mesmas por 10 e criando nova coluna 
def ajusta_nota(value):
  if value <= 10:
    return value
  else:
    return value/10

dff['nota_ajustada'] = dff['nota_bimestral'].apply(ajusta_nota)

<h2>1. Quantas linhas e colunas o dataset tem?</h2>

In [30]:
dff.shape
## 12779084 linhas e 23 colunas

(12779084, 23)

<h2>2. Qual o nome das colunas?</h2>

In [9]:
dff.columns
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12779084 entries, 0 to 12779083
Data columns (total 23 columns):
cod_coordenacao_regional            int64
coordenacao_regional                object
cod_escola                          int64
escola                              object
cod_curso                           int64
curso                               object
cod_serie                           int64
serie                               object
cod_turno                           int64
turno                               object
cod_turma                           float64
turma                               object
cod_aluno                           int64
bimestre                            object
cod_disciplina                      int64
disciplina                          object
nota_bimestral                      float64
aulas_bimestre                      float64
faltas_bimestre                     float64
faltas_justificadas_bimestre        float64
aulas_globalizadas                  float64
faltas_globalizadas                 float64
faltas_justificadas_globalizadas    float64
dtypes: float64(8), int64(7), object(8)
memory usage: 2.2+ GB

<h2>3. Qual turno de aula tem alunos com notas finais maiores? (Demonstre o seu resultado utilizando somente a nota final de cada matéria).</h2>

In [48]:
#dff.groupby(['turno'])['nota_bimestral'].mean()
dff[dff["bimestre"] == "resultado final"].groupby(['turno'])['nota_ajustada'].mean()

turno
Diurno     6.151030
Noturno    6.883233
Name: nota_ajustada, dtype: float64

<h2>4. Quantos alunos diferentes o dataset possui?</h2>

In [49]:
dff.cod_aluno.nunique()

413121

<h2>5. Quantas escolas diferentes o dataset possui?</h2>

In [50]:
dff.cod_escola.nunique()

627